@charset "utf-8";
/* CSS Document */

#wrapper {
	margin: auto;
	width: 1246px;
}
#leftpanel {
	width: 825px;
	float: left;
}



#rightpanel {
	width: 421px;
	float: left;
	height: 597px;
	background-color: #3FF;
}
#header {
	height: 125px;
	background-color: #066;
}
#content {
	height: 430px;
	background-color: #A2A2A2;
	overflow: scroll;
}

#footer {
	height: 42px;
	background-color: #066;
}
