@charset "utf-8";
/* CSS Document */

#wrapper {
	margin: auto;
	width: 1246px;
	text-align: center;
}
#leftpanel {
	width: 825px;
	float: left;
	background-image: url(../images/web/leftbackground.GIF);
}



#rightpanel {
	width: 421px;
	float: left;
	height: 597px;
	background-image: url(../images/web/background.jpg);
}
#header {
	height: 125px;
	background-repeat: no-repeat;
}
#content {
	height: 433px;
}

#footer {
	height: 40px;
	vertical-align: bottom;
	text-align: right;
}
