@charset "utf-8";
#headercontent {
	position:absolute;
	width:791px;
	height:127px;
	left: 44px;
	background-image: url(../images/web/logo1.GIF);
	background-repeat: no-repeat;
	top: 15px;
	z-index: 4;
}
#menucontent {
	position:absolute;
	left:229px;
	top:64px;
	width:606px;
	height:76px;
	z-index: 5;
}
#contentcontent {
	position:absolute;
	left:44px;
	top:142px;
	width:790px;
	height:427px;
	z-index: 6;
}



#products {
	position:absolute;
	width:891px;
	height:391px;
	left: 1px;
	top: 0px;
	z-index: 1;
}
#product2 {
	position:absolute;
	left:21px;
	top:93px;
	width:260px;
	height:258px;
	z-index:8;
}
#product3 {position:absolute;
	left:617px;
	top:92px;
	width:260px;
	height:258px;
	z-index:7;
}
#product1 {
	position:absolute;
	left:327px;
	top:92px;
	width:260px;
	height:258px;
	z-index:7;
}
#title {
	position:absolute;
	width:383px;
	height:51px;
	z-index:9;
	left: 198px;
	top: 18px;
	font-size: 30px;
	text-align: center;
}
#menucontent table tbody tr td table tr td a {
	font-size: 16px;
	font-style: normal;
	color: #FFF;
}
#maincontent {
	position:absolute;
	width:749px;
	height:392px;
	z-index:1;
	left: 20px;
	top: 34px;
}
